{% load static %}
<!DOCTYPE html>
<html lang="de-de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ask Agastya</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" rel="stylesheet" />
</head>
<body id="mainBod">

    <!--Spacer-->
    <div style="height:200px"></div>

    <!--Head of Body-->
    <div class="text">
        <p id="Name"> Ask Agastya</p>
    </div>

    <div class="switch-toggle switch-3 switch-ios options">
        <input id="on" name="state-d" type="radio" checked=""/>
        <label id="noborder" for="on" >Student</label>

        <input id="na" name="state-d" type="radio" disabled checked="checked"/>
        <label for="na" class="disabled" onclick="">&nbsp;</label>

        <input id="off" name="state-d" type="radio" checked=""/>
        <label for="off" onclick="window.location='teacher-login/';">Teacher</label>

        <a></a>
    </div>
</body>

    <!--Background Canvas-->
    <canvas id="myCanvas" style="position:fixed; top:-10px; left:-10px; z-index:-1;"></canvas>
    <script src="{% static 'js/home.js' %}"></script>
    <script>
        Window.onload = function(){
    document.getElementById("on").checked = "";
	document.getElementById("off").checked = "";
}

    </script>
</body>
</html>

