{% load static %}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ask Agastya</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
                           crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'css/studentdashboard.css' %}">
</head>
<body>
    <!-- Material sidebar -->
    <aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
        <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
        <div class="sidebar-header d-flex align-items-center px-3" style="padding: 1.5rem 0 0 1.5rem !important;">
            <ul class="categories list-unstyled new " style="margin:0;">
                <li class="has-dropdown" style="padding:0;">
                    <h5 class="fs-6 mb-0" style="padding-bottom: 0.5rem;">
                        <a href="#" class='text-decoration-none'>John Doe</a>
                    </h5>
                    <ul class="sidebar-dropdown list-unstyled" style="padding: 0;">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Logout</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <ul class="categories list-unstyled">
            <li class="">
                <i class="uil-folder"></i><a href="#">Dashboard</a>
            </li>
            <li class="">
                <i class="uil-folder"></i><a href="#">Ask a Question</a>
            </li>
            <li class="">
                <i class="uil-folder"></i><a href="#">Favourites</a>
            </li>
            <li class="">
                <i class="uil-folder"></i><a href="#">Notifications</a>
            </li>
        </ul>
    </aside>

    <section id="wrapper">
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid mx-2">
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-navbar" aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="uil-bars text-white"></i>
                    </button>
                    <a class="navbar-brand" href="#">Ask<span class="main-color">Agastya</span></a>
                </div>
            </div>
        </nav>

        <div class="p-4">
            <div class="welcome">
                <div class="content rounded-3 p-3">
                    <h1 class="fs-3">Welcome to Dashboard</h1>
                    <p class="mb-0">Hello Jone Doe, welcome to your awesome dashboard!</p>
                </div>
            </div>

            <section class="charts mt-4 text-center">
               

<div class="flex-container">
<div class="container">
  <div class="centered">Ask a Question</div>
</div>
<div class="container">
  <div class="centered">Previously Asked </div>
</div>
</div> 
            </section>

            <section class="statis mt-4 text-center">
                <div class="row">
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="box bg-primary p-3">
                            <i class="uil-eye"></i>
                            <h3>17</h3>
                            <p class="lead">Questions Asked</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="box bg-danger p-3">
                            <i class="uil-user"></i>
                            <h3>15</h3>
                            <p class="lead">Received Answers</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                        <div class="box bg-warning p-3">
                            <i class="uil-shopping-cart"></i>
                            <h3>3</h3>
                            <p class="lead">Languages</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="box bg-success p-3">
                            <i class="uil-feedback"></i>
                            <h3>5</h3>
                            <p class="lead">Subjects</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

    {% comment %}<script src="https://code.jquery.com/jquery-latest.min.js"></script>{% endcomment %}
    <script src="{% static 'js/studentdashboard.js' %}"></script>
</body>
</html>
