html {
    overflow: -moz-scrollbars-none;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: auto;

    max-width: 100%;
}

body {
    scrollbar-width: none;
    -ms-overflow-style: none;

    max-width: 100%;
    padding: 5% 15%;

    background: #171414;
    font-family: "Courier New", Courier;
    color: rgb(204, 204, 200);
}

::-webkit-scrollbar {
    display: none;
}

a:link {
    text-decoration: underline;
    color: royalblue;
    background-color: transparent;
}

#myCanvas {
    position: fixed;
    z-index: 1;
    top: -10px;
    left: -10px;
}


.text {
    z-index: 2;
    top: 0%;
    text-align: center;
    margin: 20px;

    font-family: "Garamond";
    font-size: 80px;
    font-weight: bolder;
    color: rgb(187, 187, 181);
}

#TopicBackdrop {
    overflow-y: clip;

    position: relative;
    height: 0px;
}

#Spacer {
    position: relative;
    left: 50%;
    height: 80px;
    border-left: 1px solid #FFFFE6;
}

#EndQuote {
    position: relative;
    right: -80px;
    transform: translateY(20px);
    z-index: 1;

    font-size: 16px;
    text-align: right;
}

.options {
    text-align: center;
    margin: auto;
}

#noborder {
    border:none !important;
    border-radius: 0% !important;
}

.switch-toggle {
    min-width: 10em;
    max-width: 18em;
}

.switch-ios.switch-toggle {
    background-color: rgb(187, 187, 181, 0.5) !important;
}

.switch-toggle label:not(.disabled) {
    cursor: pointer;
    color: #fff;
}

.switch-ios input:checked + label {
    color: "#7272E5" !important;
}

.switch-ios.switch-toggle label {
    color: rgb(255, 255, 255) !important;
}

.switch-ios.switch-toggle a {
    background-color: #7c73ff !important;
    margin: 0;
    border: 0.12em solid rgb(187, 187, 181) !important;
}